name: Deploy to Railway

on:
  push:
    branches: [main]
  schedule:
    # Every day at 9am and 3pm CPH time
    - cron: "0 8 * * *"
    - cron: "0 14 * * *"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: ghcr.io/railwayapp/cli:latest
    env:
      SVC_ID: spildspotter
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: railway up --service=${{ env.SVC_ID }}
